<div class="main position-relative">
    <img src="assets/shapes/wave (2).svg" class="position-absolute top-0">
    <img src="assets/shapes/wave (1).svg" class="position-absolute bottom-0">
    <img src="assets/shapes/svgviewer-output.svg" class="position-absolute circle_shape">
    <div class="container">
        <h1 class="title_l" data-text="My Portfolio" data-aos="fade-left">My Portfolio</h1>
        <div class="taps" data-aos="fade-up" data-aos-duration="1000">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">angular</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link " id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">javascript</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">html & css</button>
                </li>
              </ul>
              <div class="tab-content mt-5" id="myTabContent">

                <!-- angular  -->

                <div class="tab-pane fade active show position-relative" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <div class="swiper-container overflow-hidden ">
                        <div class="swiper-wrapper">

                          <div class="swiper-slide" data-aos="fade-left">
                            <div class="product-card">
                                <img src="assets/projects/angular/topico.PNG" alt="" class="card-img">
                                <div class="card-body">
                                    <h6 class="card-title fw-bold">Topico</h6>
                                    <p class="card-text">E-commerce web application using Angular, focused on selling mobile phones and electronic devices. The platform includes cart functionality, responsive design</p>

                                    <div class="tech d-flex gap-2 flex-wrap">
                                        <span class="">ngx-toaster</span>
                                        <span class="">Swiper.js</span>
                                        <span class="">Bootstrap</span>
                                        <span class="">Api integration</span>
                                    </div>
                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/Topico/home" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                            </div>
                          </div>

                          <div class="swiper-slide" data-aos="fade-left">
                            <div class="product-card">
                                <img src="assets/projects/angular/book store.jpg" alt="" class="card-img">
                                <div class="card-body">
                                    <h6 class="card-title fw-bold">Online Book store</h6>
                                    <p class="card-text">An online book store where you can find all kinds of books at great prices with easy shopping</p>

                                    <div class="tech d-flex gap-2 flex-wrap">
                                        <span class="">AngMat</span>
                                        <span class="">ngx-toaster</span>
                                        <span class="">Owl pagination</span>
                                        <span class="">Bootstrap</span>
                                        <span class="">Api integration</span>
                                    </div>
                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/BookStore/" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                            </div>
                          </div>

                          <div class="swiper-slide" data-aos="fade-up">
                            <div class="product-card">
                                <img src="assets/projects/angular/car rent.jpg" alt="" class="card-img">
                                <div class="card-body">
                                    <h6 class="card-title fw-bold">Rental Car</h6>
                                    <p class="card-text"> Rental website with user-friendly design, quick booking, and efficient management features</p>

                                    <div class="tech d-flex gap-2 flex-wrap ">
                                        <span class="">ngx-pagination</span>
                                        <span class="">CRUD operation</span>
                                        <span class="">Bootstrap</span>
                                        <span class="">Api integration</span>
                                    </div>
                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/car-rent/home" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                            </div>
                          </div>

        

                          <div class="swiper-slide" data-aos="fade-left">
                            <div class="product-card">
                                <img src="assets/projects/angular/ums.jpg" alt="" class="card-img">
                                <div class="card-body">
                                    <h6 class="card-title fw-bold">User Management System</h6>
                                    <p class="card-text"> Rental website with user-friendly design, quick booking, and efficient management features</p>

                                    <div class="tech d-flex gap-2 flex-wrap ">
                                        <span class="">ngx-pagination</span>
                                        <span class="">CRUD operation</span>
                                        <span class="">Bootstrap</span>
                                        <span class="">Api integration</span>
                                    </div>
                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/UMS/website/" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                            </div>
                          </div>

        

                          <div class="swiper-slide">
                            <div class="product-card">
                                <img src="assets/projects/angular/portfolio.jpg" alt="" class="card-img">
                                <div class="card-body">
                                    <h6 class="card-title fw-bold">Portfolio</h6>
                                    <p class="card-text"> This Portfolio project is designed to highlight professional experience, skills, and notable projects.</p>
                                    
                                    <div class="tech d-flex gap-2 flex-wrap ">
                                        <span class="">ngx-pagination</span>
                                        <span class="">ngx-toaster</span>
                                            <span class="">CRUD operation</span>
                                            <span class="">Bootstrap</span>
                                            <span class="">Api integration</span>
                                        </div>
                                        <button class="">
                                            <a href="https://abdulrahman-mohamed-amin.github.io/simple-portfilo/home" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>

        

                        </div>

                        <div class="swiper-button-next btn_swip"></div>
                        <div class="swiper-button-prev btn_swip"></div>

                        <!-- Pagination -->

                        <div class="swiper-pagination"></div>
                      </div>

                </div>


                <!-- -------------------Java script projects-------------  -->


                <div class="tab-pane fade  position-relative" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                    <div class="swiper-container overflow-hidden java">
                        <div class="swiper-wrapper">

                          <div class="swiper-slide">
                            <div class="product-card">
                                    <img src="assets/projects/js/hang.jpg" alt="" class="w-100 p-0">
                                    <div class="card-body p-3 bg-white">
                                        <h6 class="card-title fw-bold mb-2">Hang Man Game</h6>
                                        <p class="card-text">This game is a classic word-guessing game where players attempt to guess a hidden word by suggesting letters. Each incorrect guess brings the player closer to losing</p>

                                        <button class="">
                                            <a href="https://abdulrahman-mohamed-amin.github.io/Hang-man-Game/" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="product-card">
                                    <img src="assets/projects/js/memory.jpg" alt="" class="w-100 p-0">
                                    <div class="card-body p-3 bg-white">
                                        <h6 class="card-title fw-bold mb-2">Memory Game</h6>
                                        <p class="card-text">This game is a classic memory-matching game where players flip cards to find matching pairs. It features a clean and intuitive user interface</p>

                                        <button class="">
                                            
                                            <a href="https://abdulrahman-mohamed-amin.github.io/Memory-Game/" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>

                          
                          <div class="swiper-slide">
                            <div class="product-card">
                                    <img src="assets/projects/js/pass.jpg" alt="" class="w-100 p-0">
                                    <div class="card-body p-3 bg-white">
                                        <h6 class="card-title fw-bold mb-2">Password Generator</h6>
                                        <p class="card-text">This Project allows users to generate strong, random passwords based on their preferences, such as length and character types</p>

                                        <button class="">
                                            <a href="https://abdulrahman-mohamed-amin.github.io/Password-Generator/" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>
   
                          <div class="swiper-slide">
                            <div class="product-card card">
                                    <img src="assets/projects/js/notes.jpg" alt="" class="card-img">
                                    <div class="card-body p-3 bg-white">
                                        <h6 class="card-title fw-bold mb-2">Notes</h6>
                                        <p class="card-text">The game presents players with a series of questions across various categories, challenging their knowledge and providing instant feedback on their answers.</p>

                                        <button class="">
                                            <a href="https://abdulrahman-mohamed-amin.github.io/Notes/" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="product-card">
                                    <img src="assets/projects/js/water.jpg" alt="" class="w-100 p-0">
                                    <div class="card-body p-3 bg-white">
                                        <h6 class="card-title fw-bold mb-2">Water Calculator</h6>
                                        <p class="card-text">This calculator helps users estimate their daily water usage based on various activities such as showering, washing dishes, and drinking water</p>

                                        <button class="">
                                            <a href="https://abdulrahman-mohamed-amin.github.io/Water-Calculator/" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="product-card">
                                    <img src="assets/projects/js/quiz.jpg" alt="" class="w-100 p-0">
                                    <div class="card-body p-3 bg-white">
                                        <h6 class="card-title fw-bold mb-2">Quiz Game</h6>
                                        <p class="card-text">The game presents players with a series of questions across various categories, challenging their knowledge and providing instant feedback on their answers.</p>

                                        <button class="">
                                            <a href="https://abdulrahman-mohamed-amin.github.io/Quiz-Game/" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>


                          <div class="swiper-slide">
                            <div class="product-card">
                                    <img src="assets/projects/js/clock.jpg" alt="" class="w-100 p-0">
                                    <div class="card-body p-3 bg-white">
                                        <h6 class="card-title fw-bold mb-2">Clock</h6>
                                        <p class="card-text">This project displays multiple clocks in a grid layout, each showing the current time in different time zones around the world</p>

                                        <button class="">
                                            <a href="https://abdulrahman-mohamed-amin.github.io/Clock/" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="product-card">
                                    <img src="assets/projects/js/guess.jpg" alt="" class="w-100 p-0">
                                    <div class="card-body p-3 bg-white">
                                        <h6 class="card-title fw-bold mb-2">Guess The Word Game</h6>
                                        <p class="card-text">This game challenges players to guess a hidden word by suggesting letters. Players have a limited number of attempts to guess the correct word</p>

                                        <button class="">
                                            <a href="https://abdulrahman-mohamed-amin.github.io/Guess-The-Word-Game/" class="my_btn">Live Demo</a>
                                        </button>
                                    </div>
                            </div>
                          </div>


                        </div>

                        <div class="swiper-button-next btn_swip"></div>
                        <div class="swiper-button-prev btn_swip"></div>

                        <!-- Pagination -->

                        <div class="swiper-pagination"></div>
                      </div>
                </div>


                <!------------------ Html & Css -------------- -->


                <div class="tab-pane fade position-relative" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

                  
                  <div class="swiper-container overflow-hidden java ">
                    <div class="swiper-wrapper">

                      <div class="swiper-slide">
                        <div class="product-card">
                                <img src="assets/projects/html/meal.jpg" alt="" class="w-100 p-0">
                                <div class="card-body p-3 bg-white">
                                    <h6 class="card-title fw-bold mb-2">Mealify</h6>
                                    <p class="card-text">This website is designed to showcase a  delicious recipes, offering users an easy and inspiring way to explore, cook, and enjoy meals at home</p>

                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/mealify/" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                        </div>
                      </div>

                      <div class="swiper-slide">
                        <div class="product-card">
                                <img src="assets/projects/html/bootstrab.jpg" alt="" class="w-100 p-0">
                                <div class="card-body p-3 bg-white">
                                    <h6 class="card-title fw-bold mb-2">Bootstrap project</h6>
                                    <p class="card-text">I built this entire website using Bootstrap, ensuring a responsive, modern, and user-friendly design that works seamlessly across all devices.</p>

                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/Bootstarp-Project/" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                        </div>
                      </div>

                      <div class="swiper-slide">
                        <div class="product-card">
                                <img src="assets/projects/html/games.jpg" alt="" class="w-100 p-0">
                                <div class="card-body p-3 bg-white">
                                    <h6 class="card-title fw-bold mb-2">Games Site</h6>
                                    <p class="card-text">gaming website that offers a dynamic and interactive platform for users to explore, play, and discover their favorite games with ease</p>

                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/Games-site/" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                        </div>
                      </div>

                      
                      <div class="swiper-slide">
                        <div class="product-card">
                                <img src="assets/projects/html/devfolio.jpg" alt="" class="w-100 p-0">
                                <div class="card-body p-3 bg-white">
                                    <h6 class="card-title fw-bold mb-2">Devfolio</h6>
                                    <p class="card-text">Fully responsive website that delivers a seamless user experience across all devices, ensuring both functionality and aesthetic appeal.</p>

                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/devfolio/" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                        </div>
                      </div>


                      <div class="swiper-slide">
                        <div class="product-card">
                                <img src="assets/projects/html/dashBoard.jpg" alt="" class="w-100 p-0">
                                <div class="card-body p-3 bg-white">
                                    <h6 class="card-title fw-bold mb-2">Dashboard</h6>
                                    <p class="card-text">dashboard that provides users with an intuitive interface to manage, track, and analyze data efficiently</p>

                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/Dashbord/" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                        </div>
                      </div>



                      <div class="swiper-slide">
                        <div class="product-card">
                                <img src="assets/projects/html/grid.jpg" alt="" class="w-100 p-0">
                                <div class="card-body p-3 bg-white">
                                    <h6 class="card-title fw-bold mb-2">Grid Project</h6>
                                    <p class="card-text">Fully responsive website that delivers a seamless user experience across all devices, ensuring both functionality and aesthetic appeal.</p>

                                    <button class="">
                                        <a href="https://abdulrahman-mohamed-amin.github.io/grid-project/" class="my_btn">Live Demo</a>
                                    </button>
                                </div>
                        </div>
                      </div>


                    </div>

                    <div class="swiper-button-next btn_swip"></div>
                    <div class="swiper-button-prev btn_swip"></div>

                    <!-- Pagination -->

                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>