<section id="services" class="container">
  <div class="d-flex justify-content-between align-items-center">
    <img
      src="assets/shapes/svgviewer-output4.svg"
      class="shape d-md-block d-none"
    />
    <h2 class="title" data-text="My Service">My Services</h2>
  </div>
  <div class="row mt-4 text-center gy-4">
    <div class="col-md-4 col-sm-6 col-12" data-aos="fade-left">
        <div class="service-card">
          <i class="fas fa-code"></i>
          <h3>Frontend Development</h3>
          <p>
            Improve website`s loading Times,and Performance to improve user experience and search engine ranking
          </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12" data-aos="fade-up">
      <div class="service-card">
        <i class="fas fa-object-group"></i>
        <h3>Responsive Design</h3>
        <p>Building flexible and adaptive websites that are easy to use, responsive and multi-device</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12" data-aos="fade-right">

        <div class="service-card">
            <i class="fas fa-chart-line"></i>
            <h3>Performance Optimization</h3>
            <p>Enhancing application speed and SEO using Angular Universal.</p>
          </div>
    </div>
  </div>
</section>
