<div class="container">
    <div class="head d-flex align-items-center justify-content-around" >
        <img src="assets/shapes/svgviewer-output4.svg" alt="" width="400" data-aos="zoom-in-up" class="shape d-md-block d-none">
        <h1 class="title" data-text="About Me" data-aos="zoom-in-down">About Me</h1>
    </div>

    <div class="row gy-4 mt-3">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12" data-aos="fade-right">
            <div class="box">
                <div class="info">
                    <i class="fas fa-graduation-cap"></i>
                    <p class="">Graduate in information systems</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12" data-aos="fade-top">
            <div class="box">
                <div class="info">
                    <i class="fas fa-code"></i>
                    <p class="">Frontend Developer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-6 col-12" data-aos="fade-down">
            <div class="box">
                <div class="info">
                    <i class="fas fa-laptop"></i>
                    <p class="">I’m a passionate Angular Developer who loves building interactive web applications</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-6 col-12" data-aos="fade-left">
            <div class="box">
                <div class="info">
                    <i class="fas fa-clipboard-check"></i>
                    <p class="">Coding isn’t just my job—it’s my passion. I love solving problems with elegant solutions</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-6 col-12" data-aos="fade-right">
            <div class="box">
                <div class="info">
                    <i class="fas fa-person-chalkboard"></i>
                    <p class="">I thrive on challenges and constantly seek opportunities to improve my skills.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-6 col-12" data-aos="fade-top">
            <div class="box">
                <div class="info">
                    <i class="fas fa-users-line"></i>
                    <p class="">I enjoy collaborating with teams to bring creative ideas to life on the web.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-6 col-12" data-aos="fade-down">
            <div class="box">
                <div class="info">
                    <i class="far fa-window-restore"></i>
                    <p class="">I've always been about creating seamless user experiences on the web.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-6 col-12" data-aos="fade-left">
            <div class="box">
                <div class="info">
                    <i class="fas fa-book-bookmark"></i>
                    <p class="">With a strong background in frontend development, I enjoy turning ideas into reality.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
