<div class="main position-relative ">
    <img src="assets/shapes/svgviewer-output (1).svg" alt="" class="shape1 shape" >
    <img src="assets/shapes/svgviewer-output (3).svg" alt="" class="shape2 shape">
    <img src="assets/shapes/wave (1).svg" alt="" class="position-absolute bottom-0">
    <div class="container">
        <div class="row align-items-center  gy-4">
            <div class="col-lg-6 col-12 order-lg-first order-1" data-aos="fade-up" data-aos-duration="1500">
                <div class="box text-lg-start text-center">
                    <h3>Hello, I'm</h3>
                    <h1 class="name">Abdulrahman Amin</h1>
                    <h3>I'm Angular Developer</h3>
                    <div class="btns d-flex gap-3 align-items-center justify-content-lg-start justify-content-center mt-5">
                        <button class=""><a href="#portfolio" class="my_btn">Portfolio</a></button>
                        <button class="" (click)="downloadCV()"><a class="my_btn">Download Resume</a></button>
                    </div>
                    <div class="icons mt-5 d-flex align-items-center gap-5 justify-content-lg-start justify-content-center">
                        <a href="https://www.facebook.com/profile.php?id=100005170092901" class="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/abdulrahman-amin-485673316/" class="">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/Abdulrahman-Mohamed-Amin" class="">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 order-lg-last order-0" data-aos="fade-down" data-aos-duration="1500">
                <div class="img_cont d-flex justify-content-center align-items-center position-relative">
                    <div class="img_box position-relative">
                    <img src="assets/abdo.png" alt="" class="abdo">
                    </div>
                    <img src="assets/shapes/svgviewer-output (2).svg" alt="" class="shape3 shape">
                </div>
            </div>
        </div>
    </div>
</div>